.bell_icon svg {
    background-color: white;
    color: #2B7ECA;
    padding: 8px 8px 8px 8px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    border-radius: 5px;
}
.bell_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* .bell_icon span {
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;  
    position: absolute;
    top: 140px;
    right: 115px;
    
} */
.bell_icon button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    border-radius: 50%;
    background-color: #D2E8FF;
    margin-bottom: 15px;
}
.bell_icon button i {
    font-size: 17px;
    color: #9F30C5;
}
